obsidian
pulse
spotify
systemd
unity3d
UnityHub
unityhub
ibus
kactivitymanagerdrc
mimeapps.list
monitors.xml
monitors.xml~
spotifyd
yay
zen
user-dirs.locale
user-dirs.dirs
.gsd-keyboard.settings-ported
go
goa-1.0
gtk-3.0
gtk-4.0
evolution
epiphany
discord
dconf
Code - OSS
balenaEtcher
hypr/hyprland
kitty/kitty.conf.bak
